python-dotenv
langchain-core
langchain-openai
langchain-groq
langchain-google-genai
openai
chromadb
sentence-transformers
PyPDF2
transformers
langchain-huggingface
torch
numpy
langchain-text-splitters
